@font-face {
  font-family: 'Quicksand-Bold';
  src: url('Quicksand-Bold.otf');
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('Quicksand-Regular.otf');
}

html body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	
	font-family: 'Quicksand-Bold';
}

html {
	background-color:#000;
}
	
body {
	text-align:center;
	background-color:#e3e0d7;
}

h1 {
	margin:0;
	padding:0;
	font-size:	2.250em;
	letter-spacing: -0.045em;
	margin-bottom: 0.3em;
}

h2 {
	font-size:	1.1em;
	letter-spacing: -0.022em;
	margin: 0;
	
}

h3 {
	font-size:	1.875em;
	letter-spacing: -0.045em;
	margin-bottom: 0.2em;
	margin-top: -0.3em;
}

h4 {
	font-family: 'Quicksand-Regular';
	font-size: 0.875em;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
	-webkit-transition: color 0.5s;
}

#container {
	width:100%;
	height:100%;
	max-width: 1000px;
	display: inline-block;
	text-align: left;
	background-color:#e3e0d7;
}

#top {
	margin-top: 60px;
	margin-bottom: 66px;
}

#top h1 {
	font-size:50px;	
	text-transform: uppercase;
}

#sideMenu {
	max-width: 300px;
	float: left;
	width: 100%;
	margin-right: 32px;
}

#latest, #tags, #banners {
	padding-bottom: 60px;
}

#tutoMenu {
	list-style-type: none;	
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
		text-transform: uppercase;
}

#tutoMenu p{
	font-family: 'Quicksand-Regular';
	margin: 0;
}

#tutoMenu li{
	padding-top: 24px;
}

#tags {
	
}

#tagList {
	list-style-type: none;	
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 10px;
}

#tagList li{
	display: inline-block;
	margin-bottom: 5px;
}

#tagList li a{
	font-size: 13px;
	color:#FFF;	
	
}

#gameart, #code, #java, #libgdx {
	padding: 2px 8px 4px 8px;
	border-radius: 4px;
}

#code {
	background-color:#06F;	
	
}

#libgdx {
	background-color:#b80000;
}

#java {
	background-color:#5ea000;
}

#gameart {
	background-color:#ce4018;
}

#banners {
	padding-top: 20px;
}

#banners img{
	padding-left: 15px;
	padding-right: 15px;
}

#sideMenu h2 {
	font-size: 24px;
	text-transform: uppercase;
}

#content {
	max-width: 666px;
	float: left;
	width: 100%;
}

#content h1 {
	margin: 0;	
}

#content h2 {
	font-family: 'Quicksand-Regular';
	font-size: 14px;
	margin-top: 5px;
	text-transform: uppercase;
}

#content p {
	font-family: 'Quicksand-Regular';
	line-height: 20px;
	font-size: 15px;
	letter-spacing: -1px;
}

#content a img {
	padding-top: 1px;	
	padding-bottom: 1px;
}

#navi {
	padding-top: 30px;
	padding-bottom:	70px;
}

#nav {
	float:left;
}

#nav a {
	font-size: 19px;	
}

#prev {
	float:left;	
}

#prev img {
	padding-right: 10px;
	position:relative;
	bottom:3px;
}

#next img {
	padding-left: 10px;
	position:relative;
	bottom:3px;
}

#next {
	float: left;
}

#sep {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	position:relative;
	top:3px;
}

#social {
	float:right;
}

#social svg {
	padding-left:10px;	
}

#comments {
	padding-bottom: 42px;	
}

#fcontainer{
	width: 100%;
	background-color:#000;
}

#footer {
	padding-top: 28px;
	color:#FFF;
	width: 100%;
	max-width: 1000px;
	height: 155px;
	display: inline-block;
}

#fleft {
	float: left;
	max-width: 500px;
	text-align: left;
}

#fleft h3 {
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 10px;
}

#fright {
	float: right;
}

input[type=email], input[type=email]:focus{
	font-family: 'Quicksand-Bold';
	margin: 0;
	padding:0;
	padding-left: 1.0em;
	padding-right: 1.0em;
	width: 25.750em;
	padding-top: 1.25em;
	padding-bottom: 1.00em;
	background: #000;
	border-style: solid;
	border-color: #fff;
	border-width: 0.2em;
	color: #FFF;
	margin:0;
	outline: none;
}

#mc-embedded-subscribe{
	font-family: 'Quicksand-Bold';
	margin: 0;
	padding:0;
	font-size: 0.90em;
	letter-spacing: -0.035em;
	border-style: solid;
	border-color: #fff;
	border-width: 0.15em;
	text-decoration: none;
	color: #fff;
	background:#000;
	padding: 0.7em 1.2em 0.7em 1.2em;
	outline: none;
	-webkit-transition: color 0.5s;
	-webkit-transition: background-color 0.5s;
}

#mc-embedded-subscribe:hover{
	cursor:pointer;	
	color:#000;
	background-color:#FFF;
}

#sbutton{
	font-family: 'Quicksand-Bold';
	margin: 0;
	padding:0;
	font-size: 0.90em;
	letter-spacing: -0.035em;
	border-style: solid;
	border-color: #fff;
	border-width: 0.15em;
	text-decoration: none;
	color: #fff;
	background:#000;
	padding: 0.7em 1.2em 0.7em 1.2em;
	outline: none;
	-webkit-transition: color 0.5s;
	-webkit-transition: background-color 0.5s;
}

#sbutton:hover{
	cursor:pointer;	
	color:#000;
	background-color:#FFF;
}

#fmenu ul {
	list-style: none;
	padding: 0.25em 0.50em 0.25em 0.73em;
	margin: 0;
}

#fmenu ul li {
	display: inline;
}

#fmenu {
	float: right;
	
	margin-bottom: 10px;
	letter-spacing: -0.035em;
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	cursor:default;	
	-webkit-transition: background-color 0.5s;
	-webkit-transition: color 0.5s;
}

#fmenu:hover {
	background-color: #000;
	color:#55524a;
}

#fmenu:hover a{
	color:#55524a;
}

#fmenu a {
	color: #FFFFFF;
	font-size: 16px;
}

#fmenu a:hover{
	color: #fff;
}

#fsocial {
	text-align: right;
	margin-bottom: 10px;
	margin-top: 10px;
}

#fsocial svg{
	margin-left: 10px;
}



#link {
	text-align: right;
	margin-top: 10px;
}

#link p{
	margin-top: 10px;
}

#link a{
	font-size: 13px;
	color: #FFF;
	text-transform: uppercase;
	margin-top: 25px;
}